<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="business">{{ business.name }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="ratingForm"
        (submit)="onSubmitRating()">
    <ion-item>
      <div class="stars d-flex justify-content-center align-items-center">
        <div class="star"
             *ngFor="let ratingStar of ratingStars">
          <ion-icon name="star"
                    *ngIf="ratingStar.hover"
                    (click)="onPickRating(ratingStar.value)"></ion-icon>
          <ion-icon name="star-outline"
                    *ngIf="!ratingStar.hover"
                    (click)="onPickRating(ratingStar.value)"></ion-icon>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-input formControlName="title"
                 type="text"
                 placeholder="Título"></ion-input>
    </ion-item>
    <ion-label *ngIf="title.invalid && title.touched && title.dirty"
               class="label-error">El título es obligatorio</ion-label>
    <ion-item>
      <ion-textarea formControlName="comment"
                    placeholder="Comentario"
                    rows="5"></ion-textarea>
    </ion-item>
    <ion-label *ngIf="comment.invalid && comment.touched && comment.dirty"
               class="label-error">El comentario es obligatorio</ion-label>
    <button ion-button
            full
            type="submit"
            [disabled]="ratingForm.invalid">Enviar</button>
  </form>
</ion-content>
