<ion-header>
  <ion-navbar>
    <ion-title>La Malquerida</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form>
    <ion-item>
      <div class="stars d-flex justify-content-center align-items-center">
        <div class="star"
             *ngFor="let ratingStar of ratingStars">
          <ion-icon name="star"
                    *ngIf="ratingStar.hover"
                    (click)="onPickRating(ratingStar.value)"></ion-icon>
          <ion-icon name="star-outline"
                    *ngIf="!ratingStar.hover"
                    (click)="onPickRating(ratingStar.value)"></ion-icon>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <ion-input type="text"
                 placeholder="Título"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Opinión"
                    rows="5"></ion-textarea>
    </ion-item>
    <button ion-button
            full
            type="submit">Enviar</button>
  </form>
</ion-content>
