<ion-header [ngClass]="{'header-hidden': !isHeaderVisible}">
  <ion-navbar color="primary"
              [ngClass]="{'navbar-hidden': !isHeaderVisible, 'navbar-show': isHeaderVisible}">
    <ion-title *ngIf="isHeaderVisible">{{ business?.name }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content (ionScroll)="onScroll($event)">
  <ng-container *ngIf="business">
    <img [src]="business.cover.url"
         class="img-header"
         width="100%" />
    <h1 class="name">{{ business.name }}</h1>
    <div class="rating-dots-small">
      <rating-dots [avgRating]="business.avgRating"></rating-dots>
      <p>{{ ratingStats?.totalCount }} opiniones</p>
    </div>
    <div class="call-button">
      <a ion-button
         class="disable-hover"
         full
         color="default"
         [href]="'tel:' + business.phone">
        <ion-icon name="call"></ion-icon>Llamar</a>
    </div>
    <h6 class="home-deliveries-text"
        *ngIf="business.homeDeliveries">Realiza envíos a domicilio.</h6>
    <ion-list class="first-list">
      <ion-list-header>
        Información
      </ion-list-header>
      <ion-item class="item-description">
        {{ business.description }}
      </ion-item>
      <button ion-item
              detail-push
              text-wrap
              (click)=onOpenMapsPage()>
        <ion-icon name="navigate"
                  item-start></ion-icon>
        {{ business.location.address }}
      </button>
      <a [href]="'tel:' + business.phone"
         ion-item>
        <ion-icon name="call"
                  item-start></ion-icon>
        {{ business.phone }}
      </a>
    </ion-list>
    <ion-list>
      <ion-list-header>
        Fotos
      </ion-list-header>
      <ion-item class="images-item">
        <ion-slides *ngIf="business.images.length"
                    slidesPerView="3"
                    spaceBetween="10">
          <ion-slide *ngFor="let image of business.images.slice(0, 6)">
            <img class="small-img"
                 [src]="image.url"
                 (click)="onViewPhoto(image)" />
          </ion-slide>
          <ion-slide>
            <div class="view-more-button">
              <button ion-button
                      outline
                      (click)="onViewAllPhotos()">Ver todas</button>
            </div>
          </ion-slide>
        </ion-slides>
        <p *ngIf="!business.images.length">
          El propietario todavía no ha añadido ninguna foto
        </p>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="navParams.get('mode') === 'view' && ratings && ratingStats"
              class="last-list">
      <ion-list-header>
        Opiniones
      </ion-list-header>
      <ion-item>
        <average-rating [ratingStats]="ratingStats"></average-rating>
      </ion-item>
      <ng-container *ngIf="ratings.length">
        <ion-item class="rating"
                  *ngFor="let rating of ratings.slice(0, 5)">
          <div>
            <ion-avatar item-start>
              <img src="assets/imgs/restaurant.jpeg" />
            </ion-avatar>
          </div>
          <div>
            <h2 class="rating-title">{{ rating.title}}</h2>
            <div class="rating-subtitle">
              <div>
                <ion-icon *ngFor="let score of Array(rating.score)"
                          name="radio-button-on"></ion-icon>
              </div>
              <p>{{ rating.createdAt | date:'dd/MM/yyyy' }}</p>
            </div>
            <p class="rating-details">{{ rating.comment }}</p>
          </div>
        </ion-item>
      </ng-container>
      <ion-item *ngIf="!ratings.length"
                class="empty-ratings-item">
        <p text-center>Este negocio aún no tiene opiniones</p>
      </ion-item>
      <button *ngIf="(session && !session.business) || (session && session.business !== business.id)"
              ion-item
              detail-push
              text-wrap
              (click)="onOpenNewRatingPage()">
        <ion-icon name="create"
                  item-start></ion-icon>
        Escribir una opinión
      </button>
      <button *ngIf="ratings.length > 5"
              ion-item
              detail-push
              text-wrap
              (click)="onOpenAllRatingsPage()">
        <ion-icon name="eye"
                  item-start></ion-icon>
        Ver todas las opiniones
      </button>
    </ion-list>
    <div *ngIf="navParams.get('mode') === 'edit'"
         padding>
      <button ion-button
              full
              (click)="onShowConfirm(BusinessStatus.APPROVED)">Aprobar</button>
      <button ion-button
              full
              clear
              color="danger"
              (click)="onShowConfirm(BusinessStatus.REJECTED)">Rechazar</button>
    </div>
  </ng-container>
</ion-content>
