page-bussiness-home {

  .header {
    position: fixed;
  }

  .header-hidden.header-md::after {
    background-image: none;
  }

  .navbar-hidden > .toolbar-background {
    border-width: 0 !important;
    background-color: transparent;
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
  }

  .navbar-show > .toolbar-background {
    border-width: 0 !important;
    background-color: color($colors, primary);
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
  }

  .fixed-content, .scroll-content {
    margin-top: 0 !important;
  }

  .name {
    padding-left: 16px;
  }

  .rating-dots-small {
    display: flex;
    align-items: center;
    padding-left: 16px;
    margin-bottom: 16px;
    p {
      margin: 0 0 2px 10px;
      color: #8e9093;
    }
  }

  .call-button {
    padding: 0px 16px;
    margin: 8px 0;
    .icon {
      margin-right: 8px;
    }
    .button {
      background-color: color($colors, tripadvisor);
      margin: 0;
    }
  }

  .home-deliveries-text {
    padding: 0 16px;
  }

  .first-list {
    .list-header-md {
      border-top: 0;
    }
    .item-description .label {
      white-space: normal;
      line-height: 24px;
    }
    .icon {
      color: color($colors, primary);
    }
  }

  .last-list {
    margin-bottom: 0;
    button:last-of-type {
      border-bottom: 0 !important;
    }
  }

  .img-header {
    height: 250px;
    object-fit: cover;
  }

  .ratings {
    display: flex;
    align-items: center;
    p {
      margin: 0 0 0 8px;
    }
  }

  .images-item .label {
    display: flex;
    justify-content: center;
  }

  .swiper-wrapper {
    height: 100px;
    img {
      object-fit: cover;
      width: 100%;
    }
    .slide-zoom, img {
      height: 100%;
    }
  }

  .view-more-button {
    height: 100%;
    width: 100%;
    .button {
      height: 100%;
      width: 100%;
      margin: 0;
    }
  }

  .rating {
    ion-label {
      display: flex;
    }
    .rating-title {
      white-space: normal;
    }
    .rating-subtitle {
      display: flex;
      align-items: center;
      ion-icon {
        font-size: 1em;
        margin-right: 2px;
      }
      p {
        margin-left: 10px;
        margin-bottom: 0;
      }
    }
    .rating-details {
      white-space: normal;
      margin-top: 6px;
    }
  }

  .empty-ratings-item {
    display: flex;
    justify-content: center;
    p {
      margin: 0 auto;
    }
  }

}
