page-promote-business {

  p {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 0;
  }

  .payment-form-wrapper {
    margin: 16px;
  }

  #card-errors {
    color: color($colors, danger);
    margin-top: 8px;
  }

  .button {
    margin-top: 16px;
  }

}
