<ion-header>
  <ion-navbar color="primary">
    <ion-title>Promocionar negocio</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngIf="business">
    <div *ngIf="business.isPromoted"
         padding>
      <p text-justify>Actualmente su negocio ya está siendo promocionado. Una vez expirada la promoción podrá volver a promocionarlo.</p>
    </div>
    <div *ngIf="!business.isPromoted"
         padding>
      <p text-justify>La función promocionar tu negocio hará que tu negocio aparezca entre los primeros resultados de todas las búsquedas
        relacionadas con él durante un período de un mes.</p>
      <p>Tarifa:
        <span>
          <b>1,99€</b>
        </span>
      </p>
    </div>
  </div>
  <ion-list *ngIf="!business?.isPromoted">
    <ion-list-header *ngIf="business && !business.isPromoted">
      Tarjeta de crédito o de débito
    </ion-list-header>
    <div class="payment-form-wrapper">
      <form id="payment-form"
            (submit)="onSubmitStripeForm()">
        <div id="card-element">
        </div>
        <div id="card-errors"
             #cardErrors
             role="alert"></div>
        <button *ngIf="business && !business.isPromoted"
                ion-button
                type="submit"
                full
                [disabled]="isFormButtonDisabled">Promocionar negocio</button>
      </form>
    </div>
  </ion-list>
</ion-content>
