page-filters {

  .first-list {
    margin-top: 16px;
    border-top: none;
  }

  .bottom-toolbar {
    padding: 0 16px 16px 16px;
    .toolbar-background {
      border-top: none;
    }
    button {
      margin: 0;
    }
  }

}
