page-filters {

  .first-list {
    margin-top: 16px;
    border-top: none;
    .list-header-md {
      border-top: 0 !important;
    }
  }

  .bottom-toolbar {
    padding: 16px;
    .toolbar-background {
      border-top: none;
    }
    button {
      margin: 0;
    }
  }

}
