page-profile {
  .login-info {
    display: flex;
    margin-bottom: 16px;

    .col-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .col-text {
      p {
        margin-bottom: 0;
      }
    }
  }

  ion-icon {
    font-size: 70px;
  }
}
