<ion-grid>
  <ion-row>
    <ion-col col-12
             class="avg-rating">
      <div class="avg-rating-text">
        <rating-dots [avgRating]="ratingStats.averageRating"></rating-dots>
      </div>
      <p>{{ ratingStats.totalCount }} opiniones</p>
    </ion-col>
  </ion-row>
  <div>
    <ion-row class="row-score-stats"
             *ngFor="let scoreCount of ratingStats.scoresCount">
      <ion-col col-2
               class="col-left">
        <p>{{scoreCount.score}}</p>
        <ion-icon name="radio-button-on"></ion-icon>
      </ion-col>
      <ion-col col-9
               class="col-mid">
        <div class="progress-outer">
          <div *ngIf="!isNaN(scoreCount.count * 100 / ratingStats.totalCount)"
               class="progress-inner"
               [style.width]="(scoreCount.count * 100 / ratingStats.totalCount) + '%'">
          </div>
          <div *ngIf="isNaN(scoreCount.count * 100 / ratingStats.totalCount)"
               class="progress-inner"
               [style.width]="0 + '%'">
          </div>
        </div>
      </ion-col>
      <ion-col col-1
               class="col-right">
        <p>{{scoreCount.count}}</p>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
