<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Iniciar sesión
    </ion-title>
    <ion-buttons start>
      <button ion-button
              (click)="onCloseModal()">
        <span ion-text
              showWhen="ios">Cancelar</span>
        <ion-icon name="md-close"
                  showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <form [formGroup]="loginForm"
          (submit)="onSubmitForm()">
      <ion-list-header>
        Datos de inicio de sesión
      </ion-list-header>
      <ion-item>
        <ion-input formControlName="email"
                   type="email"
                   placeholder="Email"></ion-input>
      </ion-item>
      <ion-label *ngIf="(email.hasError('required') && (email.touched && email.dirty))"
                 class="label-error">El email es obligatorio</ion-label>
      <ion-label *ngIf="(email.hasError('email') && (email.touched && email.dirty))"
                 class="label-error">El email no es válido</ion-label>
      <ion-label *ngIf="(email.hasError('emailDoesNotExist') && (email.touched && email.dirty))"
                 class="label-error">El email introducido no existe</ion-label>
      <ion-item>
        <ion-input formControlName="password"
                   type="password"
                   placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-label *ngIf="(password.hasError('required') && (password.touched && password.dirty))"
                 class="label-error">La contraseña es obligatoria</ion-label>
      <ion-label *ngIf="(password.hasError('passwordDoesNotMatch') && (password.touched && password.dirty))"
                 class="label-error">La contraseña introducida es errónea</ion-label>
      <button ion-button
              full
              type="submit"
              [disabled]="loginForm.invalid">Iniciar sesión</button>
    </form>
  </ion-list>
  <button ion-button
          full
          clear
          type="button"
          (click)="onOpenResetPasswordPage()">¿No recuerdas la contraseña?</button>
</ion-content>
