page-home {

  .toolbar-search {
    padding-left: 4px;
    padding-right: 4px;
  }

  .searchbar {
    padding: 0px 12px !important;
  }

  .card {
    margin: 0;
    width: 100%;
  }

  .title, .avg-rating {
    display: flex;
    align-items: center;
  }

  .title {
    justify-content: space-between;
  }

  ion-icon {
    font-size: 1.4em;
  }

  .avg-rating {
    h2 {
      margin: 0 0;
    }
    ion-icon {
      margin-left: 6px;
    }
  }

  .compass-icon {
    float: left;
    margin-right: 8px;
  }
}
