page-home {

  .toolbar-search {
    padding-left: 4px;
    padding-right: 4px;
  }

  .searchbar {
    padding: 0px 12px !important;
  }

  .card {
    margin: 0;
    width: 100%;
  }

  .title, .avg-rating {
    display: flex;
    align-items: center;
  }

  .title {
    justify-content: space-between;
  }

  ion-icon {
    font-size: 1.4em;
  }

  .avg-rating {
    h2 {
      margin: 0 0;
    }
    ion-icon {
      margin-left: 6px;
    }
  }

  .compass-icon {
    float: left;
    margin-right: 8px;
  }

  ion-fab[center] {
    margin-left: -50px;
    button.fab {
      width: 100px;
      height: 40px;
      border-radius: 50px;
      ion-icon {
        color: color($colors, primary);
        flex: 0;
        margin-right: 12px;
      }
      .button-inner {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

}
