<ion-header>
  <ion-navbar no-border-bottom
              color="primary">
    <ion-title>Inicio</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top
               class="toolbar-search"
               color="primary">
    <ion-searchbar #searchbar
                   placeholder="Buscar..."
                   (ionInput)="term$.next($event.target.value)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="refreshBusinesses($event)"
                 pullingIcon="arrow-down"
                 refreshingSpinner="circles">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="businesses">
    <ng-container *ngFor="let business of businesses">
      <ion-card (click)="onCardClick(business)">
        <img [src]="business.cover.url" />
        <ion-card-content>
          <div class="title">
            <ion-card-title>
              {{ business.name }}
            </ion-card-title>
            <div class="avg-rating">
              <h2>4,5/10</h2>
              <ion-icon name="star"
                        class="star-icon"></ion-icon>
            </div>
          </div>
          <ion-icon name="compass"
                    class="compass-icon"></ion-icon>
          <p>{{ business.location.address }}</p>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
  <ion-fab center
           bottom>
    <button ion-fab
            color="light">
      <ion-icon name="switch"></ion-icon>
      Filtros
    </button>
  </ion-fab>
</ion-content>
