page-home {

  .toolbar-search {
    padding-left: 4px;
    padding-right: 4px;
  }

  .searchbar {
    padding: 0px 12px !important;
  }

  .card {
    margin: 0;
    width: 100%;
    margin-bottom: 16px;
    img {
      height: 200px;
      object-fit: cover;
    }
  }

  .title, .avg-rating {
    display: flex;
    align-items: center;
  }

  .title {
    justify-content: space-between;
  }

  .subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    p {
      margin: 0;
    }
  }

  ion-icon {
    font-size: 1.4em;
  }

  .avg-rating {
    h2 {
      margin: 0 0;
      font-size: 18px;
    }
    ion-icon {
      margin-left: 8px;
      margin-bottom: 4px;
    }
  }

  .compass-icon {
    float: left;
    margin-right: 8px;
  }

  .location-text {
    margin-bottom: 0;
  }

  ion-fab[center] {
    margin-left: -50px;
    bottom: 16px;
    button.fab {
      width: 100px;
      height: 40px;
      border-radius: 50px;
      ion-icon {
        color: color($colors, primary);
        flex: 0;
        margin-right: 12px;
        font-size: 20px;
      }
      .button-inner {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .badge {
      margin-left: 12px;
    }
  }

  .button-wider {
    width: 140px !important;
  }

  .fab-wider {
    margin-left: -70px !important;
  }

}
