<ion-header>
  <ion-navbar no-border-bottom
              color="primary">
    <button ion-button
            menuToggle="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top
               class="toolbar-search"
               color="primary">
    <ion-searchbar #searchbar
                   placeholder="Buscar..."
                   (ionInput)="term$.next($event.target.value)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-refresher (ionRefresh)="getBusinessesByParams($event)"
                 pullingIcon="arrow-down"
                 refreshingSpinner="circles">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="businesses">
    <ng-container *ngFor="let business of businesses">
      <ion-card (click)="onCardClick(business)">
        <img [src]="business.cover.url" />
        <ion-card-content>
          <div class="title">
            <ion-card-title>
              {{ business.name }}
            </ion-card-title>
            <div class="avg-rating"
                 *ngIf="business.avgRating > 0">
              <rating-dots [avgRating]="business.avgRating"></rating-dots>
            </div>
            <div text-center
                 class="avg-rating"
                 *ngIf="business.avgRating === 0">
              Sin opiniones
            </div>
          </div>
          <div class="subtitle">
            <p>{{ business.type | businessType }}</p>
            <ion-badge *ngIf="business.isPromoted">Destacado</ion-badge>
          </div>
          <ion-icon name="compass"
                    class="compass-icon"></ion-icon>
          <p class="location-text">{{ business.location.address }}</p>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>
  <p text-center
     *ngIf="businesses && !businesses.length">No se han encontrado negocios que coincidan con los parámetros de búsqueda especificados</p>
  <ion-fab center
           [ngClass]="{'fab-wider': filtersNumber > 0}"
           bottom>
    <button ion-fab
            [ngClass]="{'button-wider': filtersNumber > 0}"
            color="light"
            (click)="onShowFiltersModal()">
      <ion-icon name="switch"></ion-icon>
      Filtros
      <ion-badge *ngIf="filtersNumber > 0">{{ filtersNumber }}</ion-badge>
    </button>
  </ion-fab>
</ion-content>
