<ion-header>
  <ion-navbar color="primary">
    <ion-title>Reestablecer contraseña</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p text-justify
     *ngIf="!hasTokenBeenSent">Se te enviará un código por email, el cual deberás introducir en la siguiente página para reestablecer la contraseña.</p>
  <ion-list *ngIf="!hasTokenBeenSent">
    <form [formGroup]="sendTokenForm"
          (submit)="onSendPasswordResetToken()">
      <ion-item>
        <ion-input formControlName="email"
                   type="email"
                   placeholder="Email"></ion-input>
      </ion-item>
      <ion-label *ngIf="(email.hasError('required') && (email.touched && email.dirty))"
                 class="label-error">El email es obligatorio</ion-label>
      <ion-label *ngIf="(email.hasError('email') && (email.touched && email.dirty))"
                 class="label-error">El email no es válido</ion-label>
      <ion-label *ngIf="(email.hasError('emailDoesNotExist') && (email.touched && email.dirty))"
                 class="label-error">El email introducido no existe</ion-label>
      <button ion-button
              full
              type="submit"
              [disabled]="sendTokenForm.invalid">Enviar código</button>
    </form>
  </ion-list>
  <form [formGroup]="passwordResetForm"
        (submit)="onPasswordReset()"
        *ngIf="hasTokenBeenSent">
    <ion-list>
      <ion-list-header>
        Datos de reestablecimiento
      </ion-list-header>
      <ion-item>
        <ion-input formControlName="email"
                   type="email"
                   placeholder="Email"></ion-input>
      </ion-item>
      <ion-label *ngIf="(email.hasError('required') && (email.touched && email.dirty))"
                 class="label-error">El email es obligatorio</ion-label>
      <ion-label *ngIf="(email.hasError('email') && (email.touched && email.dirty))"
                 class="label-error">El email no es válido</ion-label>
      <ion-label *ngIf="(email.hasError('emailDoesNotExist') && (email.touched && email.dirty))"
                 class="label-error">El email introducido no existe</ion-label>
      <ion-item>
        <ion-input formControlName="token"
                   type="text"
                   placeholder="Código"></ion-input>
      </ion-item>
      <ion-label *ngIf="token.hasError('required') && password.touched && password.dirty"
                 class="label-error">El token es obligatorio</ion-label>
      <ion-label *ngIf="token.hasError('notValidToken') && password.touched && password.dirty"
                 class="label-error">El token no es válido</ion-label>
    </ion-list>
    <ion-list formGroupName="passwordGroup">
      <ion-list-header>
        Nueva contraseña
      </ion-list-header>
      <ion-item>
        <ion-input fixed
                   formControlName="password"
                   type="password"
                   placeholder="Nueva contraseña"></ion-input>
      </ion-item>
      <ion-label *ngIf="password.invalid && password.touched && password.dirty"
                 class="label-error">La nueva contraseña es obligatoria</ion-label>
      <ion-item>
        <ion-input fixed
                   formControlName="passwordConfirm"
                   type="password"
                   placeholder="Repite la nueva contraseña"></ion-input>
      </ion-item>
      <ion-label *ngIf="passwordConfirm.invalid && passwordConfirm.dirty && passwordConfirm.touched"
                 class="label-error">La confirmación de la contraseña es obligatoria</ion-label>
      <ion-label *ngIf="passwordResetForm.get('passwordGroup').hasError('passwordMatch') && passwordConfirm.dirty && passwordConfirm.touched"

                 class="label-error">Las contraseñas no coinciden</ion-label>
      <button ion-button
              full
              type="submit"
              [disabled]="passwordResetForm.invalid">Reestablecer contraseña</button>
    </ion-list>
  </form>
</ion-content>
