page-profile {

  .list {
    margin-top: 16px;
    border-top: none;
  }

  .list-header-md {
    border-top: none;
  }

  .login-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;

    .col {
      padding: 0;
    }

    .col-icon {
      display: flex;
      ion-icon {
        font-size: 90px;
      }
    }

    .col-text {
      padding-left: 16px !important;
      h1 {
        margin-bottom: 8px;
      }
      p {
        font-size: 17px;
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

}
