<ion-header>
  <ion-navbar color="primary">
    <button ion-button
            menuToggle="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mi perfil</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-grid padding
            *ngIf="!session">
    <ion-row class="login-info">
      <ion-col col-3
               class="col-icon">
        <ion-icon name="contact"></ion-icon>
      </ion-col>
      <ion-col col-9
               class="col-text">
        <h1>¡Hola!</h1>
        <p>Inicia sesión para añadir tu local a la aplicación o para escribir una reseña</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding
       *ngIf="!session">
    <button ion-button
            full
            (click)="onShowLoginModal()">Inicia sesión</button>
    <button ion-button
            clear
            full
            (click)="onShowRegisterModal()">O crea una cuenta nueva</button>
  </div>
  <ion-list *ngIf="session">
    <ion-list-header>
      Menú
    </ion-list-header>
    <button *ngIf="session && !session.business"
            ion-item
            detail-push
            (click)="onOpenBusinessRegisterPage()">
      <ion-icon name="home"
                item-start></ion-icon>
      Registrar negocio
    </button>
    <button *ngIf="session && session.business"
            ion-item
            detail-push
            (click)="onOpenBusinessEditPage()">
      <ion-icon name="home"
                item-start></ion-icon>
      Editar negocio
    </button>
    <!-- <button *ngIf="session && session.business"
            ion-item
            detail-push
            (click)="onOpenPromoteBusinessPage()">
      <ion-icon name="cash"
                item-start></ion-icon>
      Promocionar negocio
    </button> -->
    <button ion-item
            detail-push
            (click)="onOpenEditProfilePage()">
      <ion-icon name="person"
                item-start></ion-icon>
      Editar perfil
    </button>
    <button *ngIf="session && session.role === Role.ADMIN"
            ion-item
            detail-push
            (click)="onOpenBusinessApprovalPage()">
      <ion-icon name="done-all"
                item-start></ion-icon>
      Negocios pendientes de aprobación
    </button>
    <button ion-item
            detail-push
            (click)="onLogout()">
      <ion-icon name="power"
                item-start></ion-icon>
      Cerrar sesión
    </button>
  </ion-list>
</ion-content>
