page-business-register {

  .list-header-md {
    border-top: none;
  }

  .item {
    padding-left: 0;
  }

  .third-list.list-ios {
    border-bottom: 0.55px solid #c8c7cc;
  }

  .button-default {
    margin-top: 32px;
  }

  .item-img {
    .item-inner {
      padding-right: 0 !important;
    }
    .label {
      margin-right: 0 !important;
    }
    input {
      display: none;
    }
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  .upload-images-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-outline-ios.upload-images-button {
    margin: 11px auto;
  }

  .button-outline-md.upload-images-button {
    margin: 13px auto;
  }

  .img-gallery {
    .item-inner {
      padding-right: 0 !important;
    }
    .label {
      margin-right: 0 !important;
      display: flex;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
    .grid {
      padding: 0;
    }
    .col {
      padding-top: 0;
      padding-bottom: 0;
      img {
        height: 100px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

}
