page-business-register {

  .list-header-md {
    border-top: none;
  }

  .item {
    padding-left: 0;
  }

  .button {
    margin-top: 32px;
  }

  .item-img {
    .item-inner {
      padding-right: 0 !important;
    }
    .label {
      margin-right: 0 !important;
    }
    input {
      display: none;
    }
    img {
      width: 100%;
    }
  }

}
