page-user-confirm {

  p {
    font-size: 17px;
    line-height: 24px;
  }

  .list-header-md {
    border-top: none;
  }

  .item {
    padding-left: 0;
  }

  .button-default {
    margin-top: 32px;
  }

}
